.meme-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    transition: 1s;
    padding-bottom: 25px;
}


.meme-item:hover {
    max-height: 70%;
    transition: 1s;
}

.meme-item:hover .meme-img{
    transition: 1s;
    max-height: 80%;
    opacity: 1;
}


