.meme-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 8.5%;
    transition: 1s;
    padding-bottom: 3%;
}


.meme-item:hover {
    max-height: 80%;
}

.meme-item:hover .meme-img{
    max-height: 80%;
    opacity: 1;
}


